/*doc
---
title: Footer
name: footer
category: Navigation
---
```html_example
    <div class='example'>Amazing Style Guide coming soon...</div>
```
*/

.SiteFooter {
  margin-top: 6rem;
  padding: 3rem 0 6rem;
  background: $brand-color;
  text-align: center;
  color: $white;
}

.SiteFooter-copy {
  @include font-size(1.3em);
}

.SiteFooter-copyright {
  font-size: 1em;
}

.SiteFooter a {
  color: $white;
}

.SiteFooter-logo {
  max-width: 100%;
}
