/*doc
---
title: Footer
name: footer
category: Navigation
---
```html_example
    <div class='example'>Amazing Style Guide coming soon...</div>
```
*/

.SiteFooter {
  margin-top: 6rem;
  padding: 3rem 0 6rem;
  background: $brand-color;
  text-align: center;
  color: $white;
}

.SiteFooter-socialLinks {
  padding: 0;
  margin-bottom: 2rem;
}

.SiteFooter-socialLinks li {
  display: inline-block;
  list-style: none;

  &:first-child {
    margin-right: .5rem;
  }
}

.SiteFooter-socialLinks a {
  display: inline-block;
}

.SiteFooter-socialLinks .fa {
  $size: 42px;

  width: $size;
  height: $size;
  border-radius: 50%;
  background: $white;
  font-size: 2em;
  line-height: $size;
  color: $brand-color;
}

.SiteFooter-copy {
  @include font-size(1.3em);
}

.SiteFooter-copyright {
  font-size: 1em;
}

.SiteFooter a {
  color: $white;
}

.SiteFooter-logo {
  max-width: 100%;
}
