/* EXTERNAL DEPENDENCIES */

@import "vendor/normalize";
@import "vendor/modular-scale";

/* CONFIG AND OVERRIDES */
@import "config";

@import "shims";

@import "utils/mixins";
@import "utils/placeholders";

@import "typography";

@import "common/elements"; // Base reset per our design
@import "common/forms";
@import "common/buttons";

@import "common/site-nav";
@import "common/footer";

/*doc
---
title: Sample Docs
name: example
category: basics
---
```html_example
    <div class='example'>Amazing Style Guide coming soon...</div>
```
*/
