/*doc
---
title: Author Bio
name: authorbio
category: Blocks
---
```html_example

```
*/

.AuthorBio {
  background: linear-gradient(to right, #6abf81 5%, #7db9e8 100%);
  margin-bottom: 3rem;
  padding: 3rem 0;
  color: $white;
}

.AuthorBio-avatar {
  border: 7px solid $white;
  border-radius: 50%;
}

.AuthorBio-header {
  margin-bottom: 2.5em;
  text-align: center;
}

.AuthorBio-name {
  margin-bottom: .25em;
}

.AuthorBio-name,
.AuthorBio-title {
  font-family: $support-font;
}

.AuthorBio-bio {
  @include font-size(1.2em);
}

@include at-break($large-display) {
  .AuthorBio {
    padding: 6rem 0;
  }

  .AuthorBio-header {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .AuthorBio-info {
    margin-left: 1.5rem;
  }
}
