/*doc
---
title: Book Hero
name: bookhero
category: Blocks
---
```html_example
<div class="Book">
  <div class="container-inner">
    <section class="Book-info">
      <h3 class="Book-subHeadline">CURRENT RELEASE</h3>
      <h2 class="Book-headline">Title of Current Book Goes Here</h2>

      <p class="Book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, massa et ullamcorper molestie, ...</>

      <ul class="Book-buyList">
        <li><a href="#" class="Btn Btn--rainbow">Buy on Amazon</a></li>
        <li><a href="#" class="Btn Btn--rainbow">Buy on Lorem</a></li>
      </ul>
    </section>
  </div>
</div>
```
*/

.Book {
  @include clear;
  margin-bottom: 8rem;
}

.Book-bookImageWrap {
  position: relative;
  display: block;
  width: 180px;
  margin: 0 0 2rem;
  perspective: 700px;
}

.Book-bookImageWrap:after {
  position: absolute;
  bottom: -80px;
  left: -30px;

  display: block;
  width: 120%;
  height: 60px;

  background: url(../assets/img/shadow.png) no-repeat;
  background-size: 100% auto;

  content: "";
  pointer-events: none;
}

.Book-bookImage {
  max-width: 100%;
  transform: rotateY(22deg);
}

.Book-subHeadline {
  font-family: $support-font;
  font-weight: 700;
  text-transform: uppercase;
}

.Book-headline {
  @include font-size(ms(3), $line-height: true);
  font-weight: 600;
}

.Book-subTitle {
  @include font-size(1.5em);
  font-family: $support-font;
}

.Book-description {
  @include font-size(1.3em);
}

.Book-buyList {
  padding: 0;
}

.Book-buyList li {
  @include inline-block;
  margin: 0 .5em 1em 0;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.Book-buyList .Btn {
  padding: .8em 1.5em;
  @include font-size(1.2em);
}

.BookHero {
  margin-top: -3rem;
  padding: 3rem 0;
  background: #a9a370 url(../assets/img/book-hero-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: $white;
}

.BookHero .Book-bookImageWrap:after {
  display: none;
}

@include at-break($large-display) {
  $book-width: 220px;

  .BookHero {
    margin-top: -5rem;
    padding: 5rem 0;
  }

  .Book .container-inner {
    @include clear;
  }

  .Book-bookImageWrap {
    float: left;
    width: $book-width;
  }

  .BookHero .Book-bookImageWrap {
    margin-top: 2rem;
  }

  .Book-info {
    margin-left: $book-width + 48px;
  }
}
