/*doc
---
title: Book Hero
name: bookhero
category: Blocks
---
```html_example
<div class="Book">
  <div class="container-inner">
    <section class="Book-info">
      <h3 class="Book-subHeadline">CURRENT RELEASE</h3>
      <h2 class="Book-headline">Title of Current Book Goes Here</h2>

      <p class="Book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, massa et ullamcorper molestie, ...</>

      <ul class="Book-buyList">
        <li><a href="#" class="Btn Btn--rainbow">Buy on Amazon</a></li>
        <li><a href="#" class="Btn Btn--rainbow">Buy on Lorem</a></li>
      </ul>
    </section>
  </div>
</div>
```
*/

.Book {
  @include clear;
}

.Book + .Book {
  margin-top: 8rem;
}

.Book-bookImage {
  display: none;
}

.Book-subHeadline {
  font-family: $support-font;
  font-weight: 700;
  text-transform: uppercase;
}

.Book-headline {
  @include font-size(ms(3), $line-height: true);
  font-weight: 600;
}

.Book-subTitle {
  @include font-size(1.5em);
  font-family: $support-font;
}

.Book-description {
  @include font-size(1.3em);
}

.Book-buyList {
  padding: 0;
}

.Book-buyList li {
  @include inline-block;
  margin: 0 .5em 1em 0;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.Book-buyList .Btn {
  padding: .8em 1.5em;
  @include font-size(1.2em);
}

.BookHero {
  margin-top: -5rem;
  padding: 3rem 0;
  background: #a9a370 url(../assets/img/book-hero-bg.jpg) no-repeat;
  color: $white;
}

@include at-break($large-display) {
  $book-width: 220px;

  .BookHero {
    margin-top: -5rem;
    padding: 5rem 0;
  }

  .Book .container-inner {
    @include clear;
  }

  .Book-bookImage {
    display: block;
    float: left;
    width: $book-width;
  }

  .BookHero .Book-bookImage {
    margin-top: 2rem;
  }

  .Book-info {
    margin-left: $book-width + 48px;
  }
}
