/*doc
---
title: Credentials List
name: credlist
category: Components
---
```html_example
<div class="CredList">
  <div class="container-inner">
    <header class="CredList-header">
      <img
        src="/assets/img/award.png"
        alt="The outline of a trophy encased in a circle"
        class="CredList-image" />
      <h3 class="CredList-headline">Awards and Honors</h3>
    </header>

    <ul class="CredList-items">
      <li>Lifetime Achievement Award from the Pennsylvania chapter of NASW</li>
      <li>NASW Media Award for Best Article Association of Social Workers</li>
    </ul>
  </div>
</div>
```
*/

.CredList {
  margin-bottom: 4rem;
}

.CredList-header {
  text-align: center;
}

.CredList-headline {
  font-family: $support-font;
  @include font-size(ms(4), $line-height: true);
  margin: em(.5) 0 em(1);
}

.CredList-items li {
}

.CredList-items--split {
  display: flex;
  flex-wrap: wrap;
}

.CredList-items--split li {
  width: calc(50% - 4rem);
  margin-right: 4rem;
  margin-bottom: .5em;
}

.CredList-items--split li:nth-child(even) {
  margin-right: 0;
}
