<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/htm" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>sarakaysmullens com</title>

    <link href='http://fonts.googleapis.com/css?family=Kameron:400,700|Raleway:500,600,700,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/screen.css">
  </head>
  <body>
    <header class="SiteHeader">
      <nav class="SiteNav container-inner" role="navigation">

        <input
          type="checkbox"
          id="NavTrigger"
          class="NavTrigger"
          aria-hidden="true" />

        <label
          for="NavTrigger"
          class="NavTriggerCTA"
          aria-hidden="true">&#9776; Menu</label>

        <a href="#home" class="NavItem logo">
          <img src="/assets/img/logo.png" alt="The logo for SaraKay Smullens written in a cursive similar to handwriting." />
        </a>

        <a href="#books" class="NavItem">Books</a>
        <a href="#articles" class="NavItem">Articles</a>
        <a href="#blog" class="NavItem">Blog</a>
        <a href="#contact" class="NavItem">Contact</a>
      </nav>
    </header>

    <main role="main">
      <div class="BookHero">
        <div class="container-inner">
          <section class="BookHero-info">
            <h4 class="BookHero-subHeadline">CURRENT RELEASE</h4>
            <h2 class="BookHero-headline">Title of Current Book Goes Here</h2>

            <p class="BookHero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, massa et ullamcorper molestie, ex odio finibus arcu, id commodo massa sem eget dui. Proin ornare nec erat sit amet faucibus. </>

            <ul class="Book-buyList">
              <li><a href="#" class="Btn Btn--rainbow">Buy on Amazon</a></li>
              <li><a href="#" class="Btn Btn--rainbow">Buy on Lorem</a></li>
            </ul>
          </section>
        </div>
      </div>

      <div class="LatestArticles">
        <div class="container-inner">
          <h2 class="LatestArticles-headline">Latest Articles</h2>


        </div>
      </div>

      <section class="AuthorBio">
        <div class="container-inner">
          <header class="AuthorBio-header">
            <h3 class="AuthorBio-name">Sarakay Smullens</h3>
            <h4 class="AuthorBio-title">Life Activist</h4>
          </header>

          <p>SaraKay Smullens, MSW, LCSW, CGP, CFLE, BCD is a certified group psychotherapist and family life educator. She is devoted to highlighting destructive societal forces through communication, advocacy and activism. In her work she illuminates the impact of abuse, not only on individuals, but on the attitudes and behaviors that destroy marriages, families, friendships, work settings, communities and societies. She is known in the U.S. and abroad for her work in recognizing, addressing and healing what she has called "the invisible and lethal epidemic of emotional abuse."</p>

          <p>SaraKay is a best-selling author and award-winning writer. Her writing can be found in peer reviewed journals and other professional publications. She also blogs regularly for The Huffington Post, Broad Street Review, and Your Tango.</p>
        </div>
      </section>

      <div class="CredList">
        <div class="container-inner">
          <header class="CredList-header">
            <img
              src="/assets/img/award.png"
              alt="The outline of a trophy encased in a circle"
              class="CredList-image"
              width="140" />
            <h3 class="CredList-headline">Awards and Honors</h3>
          </header>

          <ul class="CredList-items CredList-items--split">
            <li>Lifetime Achievement Award from the Pennsylvania chapter of NASW</li>
            <li>NASW Media Award for Best Article Association of Social Workers</li>
            <li>Woman Leader of Distinction Award The Eastern Region Women's Ministry Pennsylvania Baptist State Convention, Inc.</li>

            <li>Honored Author, Diamond Jubilee<br />
                Borrowers Ball 2002<br />
                The Free Library of Phildelphia
            </li>


            <li>Louise Waterman Wise Award<br />
                <em>American Jewish Congress,<br />
                Pennsylvania Region</em>
            </li>

            <li>Peace Medal, <em>Women’s International<br />
                League for Peace and Freedom<br />
                Maryland Chapter</em>
            </li>
          </ul>
        </div>
      </div>

      <div class="CredList">
        <div class="container-inner">

          <header class="CredList-header">
            <img
              src="/assets/img/document.png"
              alt="The outline of a document encased in a circle"
              class="CredList-image"
              width="140" />
            <h3 class="CredList-headline">Professional Credentials and Memberships</h3>
          </header>

          <ul class="CredList-items">
            <li>Academy of Certified Social Workers</li>
            <li>American Association for Marriage and Family Therapy</li>
            <li>American Psychotherapy Association</li>
            <li>Authors Guild</li>
            <li>Fellow, Pennsylvania Society for Clinical Social Work</li>
            <li>National Association of Social Workers</li>
            <li>NASW Pennsylvania Chapter</li>
            <li>National Council on Family Relations (Certified Family Life Educator)</li>
            <li>Philadelphia Area Group Psychotherapy Society (Certified Group Psychotherapist</li>
          </ul>
        </div>
      </div>

    </main>
    <footer class="SiteFooter">
      <div class="container-inner">
        <p class="SiteFooter-copy">
          Site design by <a href="http://gettagged.us/" rel="partner">Tag Strategies</a><br />
          <small class="copyright SiteFooter-copyright">&copy; <script>document.write(new Date().getFullYear())</script> SaraKay Smullens</small>
        </p>

        <p>
          <img
            src="/assets/img/logo.png"
            width="400"
            alt="The logo for SaraKay Smullens written in a cursive similar to handwriting."
            class="SiteFooter-logo" />
        </p>
      </div>
    </footer>
    <script src="/js/app.js"></script>
  </body>
</html>
