<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/htm" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>sarakaysmullens com</title>

    <link href='http://fonts.googleapis.com/css?family=Kameron:400,700|Raleway:500,600,700,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/screen.css">
  </head>
  <body>
    <header class="SiteHeader">
      <nav class="SiteNav container-inner" role="navigation">

        <input
          type="checkbox"
          id="NavTrigger"
          class="NavTrigger"
          aria-hidden="true" />

        <label
          for="NavTrigger"
          class="NavTriggerCTA"
          aria-hidden="true">&#9776; Menu</label>

        <a href="#home" class="NavItem logo">
          <img src="/assets/img/logo.png" alt="The logo for SaraKay Smullens written in a cursive similar to handwriting." />
        </a>

        <a href="#books" class="NavItem">Books</a>
        <a href="#articles" class="NavItem">Articles</a>
        <a href="#blog" class="NavItem">Blog</a>
        <a href="#contact" class="NavItem">Contact</a>
      </nav>
    </header>

    <main role="main">
      <div class="container-inner">
        <header class="PageHeader">
          <h1 class="PageHeader-title">Blog</h1>
        </header>

        <article class="Post">
          <header class="Post-header">
            <h2 class="Post-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h2>
            <p class="Post-byline">
              <span class="Post-author">SaraKay Smullens</span> |
              <time class="Post-published">November 21 2014</time>
            </p>
          </header>

          <div class="Post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget velit magna. Duis in vulputate urna. Phasellus nec hendrerit quam, et tincidunt quam. Sed hendrerit ligula a eleifend ullamcorper. Sed cursus sed velit in congue. Nulla facilisi. Quisque fringilla efficitur massa vel volutpat. Aliquam vitae lectus quis elit porta venenatis id id orci. Donec gravida id nibh id ultrices. Nulla libero dolor, tincidunt eu eros at, convallis congue nisi. Sed elementum augue nec lorem cursus placerat. Vivamus pellentesque, urna vel tincidunt laoreet, augue magna pharetra lorem, eget lobortis lorem sem facilisis nunc. Sed pellentesque imperdiet magna, ut tempor nisl pharetra vitae. Vestibulum sodales eros quis auctor pretium.</p>

            <p>Nullam aliquet nulla ut velit dapibus sodales. Praesent elit sapien, molestie nec lacus a, sagittis volutpat ligula. Nam feugiat in lectus id interdum. Nunc non erat vitae ligula dignissim volutpat. Vivamus et imperdiet dui, eu pharetra dui. Donec felis justo, euismod in augue non, dignissim rutrum justo. Vivamus tempor sollicitudin vulputate. Integer iaculis rutrum bibendum. Proin ut eleifend lacus. Duis quis nunc ante. Mauris eu tellus sit amet lacus convallis porttitor. Proin ut leo eu lacus malesuada suscipit non eu elit. Aliquam erat volutpat. Mauris nulla dui, hendrerit sed volutpat id, dictum ut elit. Sed ac egestas quam.</p>

            <p>In blandit consectetur quam, vitae sodales libero maximus in. Proin quam leo, pulvinar facilisis volutpat vel, maximus sit amet nisl. Fusce quis mattis nisi. Sed dignissim nibh auctor diam consectetur, nec pharetra diam vulputate. Suspendisse potenti. Duis accumsan ullamcorper ante, vitae pharetra est laoreet et. Nam euismod diam id tortor iaculis, eget posuere eros iaculis. Donec non enim id tellus interdum volutpat. Curabitur sem ex, dapibus et nunc nec, interdum fermentum mi. Maecenas bibendum tincidunt dui, nec sollicitudin dui aliquam eu. Aliquam at commodo ligula. Phasellus lacinia eu quam in commodo. Etiam non imperdiet nunc.</p>

            <p>Nulla non scelerisque orci. Curabitur ultricies eleifend lorem, venenatis posuere lacus consequat nec. Sed at consequat erat, nec vehicula leo. Phasellus id bibendum turpis, a varius nibh. Nullam consequat venenatis lacus vel ullamcorper. Curabitur gravida sapien eget mauris tempor, vitae ornare ante tincidunt. Nullam non ornare lacus. Sed commodo nibh eu malesuada aliquam.</p>
          </div>
        </article>
      </div>
    </main>
    <footer class="SiteFooter">
      <div class="container-inner">

        <ul class="SiteFooter-socialLinks">
          <li>
            <a
              href="#"
              aria-label="Find Sarakay on Facebook"><i class="fa fa-facebook"> </i></a>
          </li>
          <li>
            <a
              href="#"
              aria-label="Find Sarakay on Twitter"><i class="fa fa-twitter"> </i></a>
          </li>
        </ul>

        <p class="SiteFooter-copy">
          Site design by <a href="http://gettagged.us/" rel="partner">Tag Strategies</a><br />
          <small class="copyright SiteFooter-copyright">&copy; <script>document.write(new Date().getFullYear())</script> SaraKay Smullens</small>
        </p>

        <p>
          <img
            src="/assets/img/logo.png"
            width="400"
            alt="The logo for SaraKay Smullens written in a cursive similar to handwriting."
            class="SiteFooter-logo" />
        </p>
      </div>
    </footer>
    <script src="/js/app.js"></script>
  </body>
</html>
